* {
  font-family: CaskaydiaCove Nerd Font;
  font-size: 10px;
}

window#waybar {
  background-color: #100F0F;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: 0;
  border-radius: 4px;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -2.5px #ffffff;
}

#tags button {
  color: #8B7EC8;
  padding: 0 10px;
}

#tags button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#tags button.focused {
  color: #ffffff;
  font-weight: bold;
  background-color: #343331;
  box-shadow: inset 0 -2.5px #ffffff;
}

#tags button.urgent {
  background-color: #D14D41;
}

#window,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#custom-notification,
#backlight,
#network,
#wireplumber,
#custom-media,
#tray {
  margin: 5px 1px 1px 1px;
  padding: 7px 12px 7px 6px;
  color: #ffffff;
}

#tags {
  margin: 5px 1px 0px 4px;
  padding: 0;
}

#custom-lock {
  color: #ffffff;
  margin: 6px 5px 0px 3px;
  padding: 0 1px 0 0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

label:focus {
  background-color: #000000;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#clock {
  color: #8B7EC8;
}

#wireplumber {
  color: #CE5D97;
}
